   
  <div class="container mt-5">
    <div class="row custom-wrapper">
      <h2 class="mb-3 text-center">Search Companies</h2>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="d-grid">
          <label for="criteria">
            Select Criteria  
          </label>
          <select 
            (change)="changeCriteria($event)"
            formControlName="criteria" >
            <!-- <option value="">Choose search criteria</option> -->
            <option *ngFor="let criteriaType of CriteriaType" [ngValue]="criteriaType">
              {{ criteriaType }}
            </option>
          </select>
          <!-- error block -->
          <div class="invalid-feedback" *ngIf="isSubmitted && criteria?.invalid">
            <sup>*</sup>Please provide criteria type
          </div><p></p>
          <div class="d-grid">
            <label for="criteriaValue">
              Criteria Value 
            </label>
            <input id="criteriaValue" type="text" formControlName="criteriaValue">
          </div>
          <p></p>
          <button type="submit" class="btn btn-lg btn-block btn-danger">
            Search
          </button>
        </div>
      </form>
    </div>
  </div>
  <div></div>

  <div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Branh Id</th>
                <th>Branch Name</th>
                <th>Email</th>
                <th>Website</th>
                <th>Contact</th>
                <th>Place</th>
                <th>Tariff</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let branch of branches">
                <td>{{branch.branchId}}</td>
                <td>{{branch.branchName}} </td>
                <td>{{branch.email}}</td>
                <td>{{branch.website}}</td>
                <td>{{branch.contact}}</td>
                <td>{{branch.place}}</td>
                <td>{{branch.tariff}}</td>
            </tr>
        </tbody>
    </table>
</div>
